.app-navbar {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  z-index: 2;

  h2 {
    color: var(--white-color);
    cursor: pointer;
  }

  span {
    color: var(--yellow-color);
  }
}

.app-navbar-menu {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  svg {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 4rem;
    height: 3rem;
    color: var(--white-color);
    cursor: pointer;
    margin: 0.5rem 0.5rem;
  }

  div {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background-color: var(--white-color);

    & {
      @media screen and (min-width: 900px) {
        width: 30%;
      }
    }

    svg {
      width: 35px;
      height: 35px;
      color: var(--red-color);
      margin: 1rem 1.3rem;
      cursor: pointer;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      li {
        margin: 1rem;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.5s ease-in-out;

          &:hover {
            color: var(--cyan-color);
          }
        }
      }
    }
  }
}
