.about-text {
  text-align: center;
  width: 75%;
}

.about-section {
  // background: url(../../assets/test.png) no-repeat cover;
  background-color: var(--cyan-color);
  color: #2b3052;
  font-weight: 700;
  width: 100%;
}
